{% extends "base.html" %}
{% from "_macro/_pagination.html" import render_pagination %}

{% block title %}Solutions | Virtual Judge{% endblock %}

{% block page_content %}
<div class="text-center">
{{ render_pagination(paginate, 'solution.list') }}
</div>
<form>
<table class="table" style="margin-bottom:0px">
  <thead>
    <tr>
      <th style="width:4%">
        <select class="form-control" name="origin_oj">
          <option value="poj">POJ</option>
          <option value="hdu">HDU</option>
          <option value="sdut">SDUT</option>
          <option value="fzu">FZU</option>
        </select>
      </th>
      <th style="width:4%">
        <input class="form-control" type="text" name="problem_id" placeholder="PID">
      </th>
      <th style="width:4%">
        <input class="form-control" type="text" name="username" placeholder="Username">
      </th>
      <th style="width:10%">
        <select class="form-control" name="origin_oj">
          <option value="all">All</option>
          <option value="ac">Accepted</option>
          <option value="pe">Presentation Error</option>
          <option value="wa">Wrong Answer</option>
          <option value="tle">Time Limit Exceed</option>
          <option value="mle">Memory Limit Exceed</option>
          <option value="ole">Output Limit Exceed</option>
          <option value="ce">Compile Error</option>
          <option value="qj">Queuing && Judging</option>
        </select>
      </th>
      <th class="hidden-xs" style="width:14%"></th>
      <th style="width:4%">
          <button class="btn btn-primary btn-block" type="submit">Filter</button>
      </th>
    </tr>
  </thead>
</table>
</form>
<table class="table">
  <thead>
    <tr>
      <th style="width:10%;text-align:right">OJ</th>
      <th style="width:10%">Problem ID</th>
      <th>User Name</th>
      <th>Status</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Code Length</th>
      <th>Submit Time</th>
    </tr>
  </thead>
    {% for solution in solutions %}
    <tr>
      <td style="text-align:right">{{ solution.origin_oj|upper }}</td>
      <td><a href="{{ url_for('problem.detail', origin_oj=solution.origin_oj, problem_id=solution.problem_id) }}">{{ solution.problem_id }}</a></td>
    </tr>
    {% endfor %}
  <tbody>
  </tbody>
</table>
{% endblock %}
