{% extends "base.html" %}
{% from "_macro/_pagination.html" import render_pagination %}

{% block title %}Solutions | Virtual Judge{% endblock %}

{% block page_content %}
<div class="text-center">
{{ render_pagination(paginate, 'solution.list') }}
</div>
<form class="form-inline">
  <table class="table" style="margin-bottom:0px">
    <thead>
      <tr>
        <th>
          <div class="right">
            <div class="input-group">
              <div class="input-group-addon">OJ</div>
              <select class="form-control" name="origin_oj">
                <option value="all">All</option>
                <option value="poj">POJ</option>
                <option value="hdu">HDU</option>
                <option value="sdut">SDUT</option>
                <option value="fzu">FZU</option>
              </select>
            </div>
            <div class="input-group">
              <div class="input-group-addon">Name</div>
              <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="input-group">
              <div class="input-group-addon">Result</div>
              <select class="form-control" name="result">
                <option value="all">All</option>
                <option value="ac">Accepted</option>
                <option value="pe">Presentation Error</option>
                <option value="wa">Wrong Answer</option>
                <option value="tle">Time Limit Exceeded</option>
                <option value="mle">Memory Limit Exceeded</option>
                <option value="ole">Output Limit Exceeded</option>
                <option value="ce">Compile Error</option>
                <option value="qj">Queuing && Judging</option>
              </select>
            </div>
            <div class="input-group">
              <div class="input-group-addon">Lang</div>
              <select class="form-control" name="lang">
                <option value="all">All</option>
                <option value="gcc">GCC</option>
                <option value="g++">G++</option>
                <option value="c">C</option>
                <option value="c++">C++</option>
                <option value="java">Java</option>
              </select>
            </div>
            <button class="btn btn-default" type="submit">Filter</button>
            <button class="btn btn-default" type="reset">Reset</button>
          </div>
        </th>
      </tr>
    </thead>
  </table>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width:10%;text-align:right">OJ</th>
      <th style="width:10%">Problem ID</th>
      <th>User Name</th>
      <th>Status</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Language</th>
      <th>Code Length</th>
      <th>Submit Time</th>
    </tr>
  </thead>
    {% for solution in solutions %}
    <tr>
      <td style="text-align:right">{{ solution.origin_oj|upper }}</td>
      <td><a href="{{ url_for('problem.detail', origin_oj=solution.origin_oj, problem_id=solution.problem_id) }}">{{ solution.problem_id }}</a></td>
      <td><a href="{{ url_for('user.user', username=solution.user.username) }}">{{ solution.user.username }}</a></td>
      {% if solution.user == current_user and solution.result == 'Compile Error' %}
      <td><a data-toggle="modal" data-target="#solution_{{ solution.solution_id }}">{{ solution.result }}</a></td>
      {% else %}
      <td>{{ solution.result }}</td>
      {% endif %}
      <td>{{ solution.time }}</td>
      <td>{{ solution.memory }}</td>
      <td>{{ solution.language }}</td>
      {% if solution.user == current_user %}
      <td><a href="{{ url_for('solution.detail', solution_id=solution.solution_id) }}">{{ solution.code_length }}</a></td>
      {% else %}
      <td>{{ solution.code_length }}</td>
      {% endif %}
      <td>{{ solution.created_at }}</td>
    </tr>
      <!-- Modal -->
      <div class="modal fade" id="solution_{{ solution.solution_id }}" tabindex="-1" role="dialog" aria-labelledby="label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="label">Compile Info</h4>
            </div>
            <div class="modal-body">
              {{ solution.compile_info | safe }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  <tbody>
  </tbody>
</table>
{% endblock %}
