{% extends "base.html" %}
{% from "_macro/_formhelpers.html" import render_field %}

{% block title %}Virtual Judge{% endblock %}

{% block page_content %}
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Log in</a></li>
  <li role="presentation"><a href="/auth/register">Register</a></li>
</ul>
<form method=post action="/auth/login">
{{ form.csrf_token }}
{% if form.csrf_token.errors %}
  <div class="warning">You have submitted an invalid CSRF token</div>
{% endif %}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
  <p><input type="submit" class="form-control" value="submit"></input>
</form>
{% endblock %}
