{% extends "base.html" %}
{% from "_macro/_formhelpers.html" import field_error %}

{% block title %}Public Profile | Virtual Judge{% endblock %}

{% block page_content %}
<div class="content">
  <div class="one-fifth left">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Personal settings</div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item"><a href="{{ url_for('user.profile') }}">Profile</a></li>
        <li class="list-group-item"><a href="{{ url_for('user.account') }}">Account settings</a></li>
        <li class="list-group-item"><a href="#">Email</a></li>
        <li class="list-group-item"><a href="{{ url_for('user.origin_oj') }}">Origin OJ</a></li>
      </ul>
    </div>
  </div>
  <div class="four-fifth right main">

    {% block setting_main %}
    <div class="panel panel-default">
      <div class="panel-heading">Public profile</div>
      <div class="clearfix">
        <form method="post">
          {{ form.csrf_token }}
          {% if form.csrf_token.errors %}
            <div class="warning">You have submitted an invalid CSRF token</div>
          {% endif %}
          <div class="column two-thirds">

            <dl class="form edit-profile-avatar">
              <dt>
                <label for="exampleInputText">Profile picture</label>
              </dt>
              <dd>
              <img class="avatar-picture" src="{{ current_user.avatar(406) }}" width="15%"> 
                <div class="avatar-upload">
                  <button class="btn btn-default">Upload new picture</button>
                  <div class="avatar-upload-default">
                    <p>You can also drag and drop a picture from your computer.</p>
                  </div>
                </div>
              </dd>
            </dl>

            <dl class="form">
              <dt>{{ form.nickname.label() }}</dt>
              <dd>{{ form.nickname(class='form-control') }}</dd>
            </dl>
            <dl class="form">
              <dt>{{ form.school.label() }}</dt>
              <dd>{{ form.school(class='form-control') }}</dd>
            </dl>
            <dl class="form">
              <dt>{{ form.blog_url.label() }}</dt>
              <dd>{{ form.blog_url(class='form-control') }}</dd>
            </dl>
            <dl class="form">
              <dt>{{ form.location.label() }}</dt>
              <dd>{{ form.location(class='form-control') }}</dd>
            </dl>

            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
    {% endblock %}

  </div>
</div>
{% endblock %}
