{% extends "base.html" %}

{% block title %}Public Profile | Virtual Judge{% endblock %}

{% block page_content %}
<div class="content">
  <div class="one-fifth left">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Personal settings</div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item"><a href="{{ url_for('user.updateprofile', username=current_user.username) }}">Profile</a></li>
        <li class="list-group-item"><a href="#">Account settings</a></li>
        <li class="list-group-item"><a href="#">Email</a></li>
        <li class="list-group-item"><a href="{{ url_for('user.origin_oj') }}">Origin OJ</a></li>
      </ul>
    </div>
  </div>
  <div class="four-fifth right main">
    {% block setting_main %}

    {% endblock %}
  </div>
</div>
{% endblock %}
