{% extends "base.html" %}
{% from "_pagination.html" import render_pagination %}

{% block title %}Problems | Virtual Judge{% endblock %}

{% block page_content %}
{{ render_pagination(paginate, 'problem.list') }}
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>OJ</th>
      <th>Problem ID</th>
      <th>Title</th>
      <th>Update Time</th>
      <th>AC/Submit</th>
    </tr>
  </thead>
    {% for problem in problems %}
    <tr>
      <td></td>
      <td>{{ problem.origin_oj }}</td>
      <td><a href="{{ problem.problem_url}}" target="_blank">{{ problem.problem_id }}</a></td>
      <td><a href="{{ url_for('problem.detail', origin_oj=problem.origin_oj, problem_id=problem.problem_id) }}" target="_blank">{{ problem.title }}</a></td>
      <td>{{ problem.update_time}}</td>
      <td>
        {% if problem.accpect and problem.submit %}
          {{ problem.accpect }} / {{problem.submit }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  <tbody>
  </tbody>
</table>
{% endblock %}
