{% extends "base.html" %}
{% from "_macro/_formhelpers.html" import field_error %}
{% from "_macro/_formhelpers.html" import render_field %}

{% block title %}{{ origin_oj|upper }} {{ problem_id }} | Virtual Judge{% endblock %}

{% block page_content %}
<div class="row">
  <div class="content">
    <form method=post>
      <div class="col-md-6">
        {{ form.csrf_token }}
        {% if form.csrf_token.errors %}
          <div class="warning">You have submitted an invalid CSRF token</div>
        {% endif %}
        <div class="input-group" style="margin-bottom:15px">
          <span class="input-group-addon" id="basic-addon1">{{ origin_oj|upper }}</span>
          <input type="text" class="form-control" disabled aria-describedby="basic-addon1" value={{ problem_id }} >
        </div>
        {{ form.origin_oj(class="hidden", value=origin_oj) }}
        {{ field_error(form.origin_oj) }}
        {{ form.problem_id(class="hidden", value=problem_id) }}
        {{ field_error(form.problem_id) }}
        {{ render_field(form.language) }}
      </div>
      <div class="col-md-12">
        {{ render_field(form.code, rows="15", required="required") }}
        <button type="submit" class="btn btn-primary">submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
