{% extends "base.html" %}

{% block title %}Profile | Virtual Judge{% endblock %}

{% block page_content %}
<div class="content">
  <div class="one-fifth left">
    <a href="{{ user.avatar(460) }}">
      <img src="{{ user.avatar(460) }}" class="vcard-avatar" width="100%" height="auto" >
    </a>
      <h2>{{ user.nickname }}</h2>
      <p>{{ user.username }}</p>
    <ul class="vcard-details">
      {% if user.school %}
      <li class="vcard-detail">
        <span class="glyphicon glyphicon-education"></span>{{ user.school }}
      </li>
      {% endif %}
      {% if user.location %}
      <li class="vcard-detail">
        <span class="glyphicon glyphicon-map-marker"></span>{{ user.location }}
      </li>
      {% endif %}
       <li class="vcard-detail">
         <span class="glyphicon glyphicon-envelope"></span>{{ user.email }}
      </li>
      {% if user.blog_url %}
       <li class="vcard-detail">
         <span class="glyphicon glyphicon-link"></span><a target="__blank" href="{{ user.blog_url }}">{{ user.blog_url }}</a>
      </li>
      {% endif %}
      <li class="vcard-detail">
        <span class="glyphicon glyphicon-time"></span>{{ user.created_at }}
      </li>
    </ul>
    <div class="vcard-stats">
      <a href="{{ url_for('user.followers', username=user.username) }}" class="vcard-stat">
        <strong class="vcard-stat-count">{{ user.followers | length }}</strong>
        <span class="text-muted">Followers</span>
      </a>
      <a href="#" class="vcard-stat">
        <strong class="vcard-stat-count">8</strong>
        <span class="text-muted">Starred</span>
      </a>
      <a href="{{ url_for('user.following', username=user.username) }}" class="vcard-stat">
        <strong class="vcard-stat-count">{{ user.following | length }}</strong>
        <span class="text-muted">Following</span>
      </a>
    </div>
  </div>
  <div class="four-fifth right main">
    {% block profile_main %}
    <ul class="nav nav-tabs" style="padding-top:0px">
      <li role="presentation" class="active"><a href="#"><i class="fa fa-pencil-square-o"> Your Problem</i></a></li>
      <li role="presentation"><a href="#"><i class="fa fa-list"> Your Contest</i></a></li>
      <li role="presentation"><a href="#"><i class="fa fa-rss"> Public activity</i></a></li>
      {% if current_user == user %}
      <a href="{{ url_for('user.profile') }}" class="btn btn-default right"><i class="fa fa-pencil"> Edit Profile</i></a>
      {% else %}
        {% if not current_user.is_following(user) %}
        <a href="{{ url_for('user.follow', username=user.username) }}"class="btn btn-default right"><i></i> Follow</a>
        {% else %}
        <a href="{{ url_for('user.unfollow', username=user.username) }}"class="btn btn-default right"><i></i> Unfollow</a>
        {% endif %}
      {% endif %}
    </ul>
    <div class="panels">
      <div class="panel panel-default one-half left">
        <!-- Default panel contents -->
        <div class="panel-heading"><i class="fa fa-exclamation-circle"></i> Error Submit Problem</div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="panel panel-default one-half right">
        <!-- Default panel contents -->
        <div class="panel-heading"><i class="fa fa-star"></i> Star Problem</div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
{% endblock %}
