body {
    padding-top: 50px;
}

a:focus, a:hover{
    text-decoration: none;
}

pre{
    border: 0px;
    border-radius: 0px;
    border-top: 3px solid #ddd;
    padding-left: 20px;
    color: black
}

.alert-messages{
    margin-top: 15px;
    margin-bottom: -15px;
}

.content{
    margin-top: 30px
}

.right{
    float: right;
}

.left{
    float: left;
}

/*
 * Profile
 */

.one-fifth{
    width: 20%
}

.one-fifth>h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 26px;
    line-height: 30px;
    overflow: hidden;
    display: block;
    color: black;
}

.one-fifth>p {
    width: 100%;
    font-size: 20px;
    color: #666;
}

.four-fifth{
    width: 80%
}

.main{
    padding-left: 30px;
}

.vcard-avatar{
    border-radius: 5px;
}

.panels{
    margin-top: 20px
}

.one-half{
    width: 49%
}

.vcard-names{
    margin-top: 10px;
}

.vcard-nickname{
}

.vcard-username{
    font-size: 24px;
    color: #666;
}

.vcard-details{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    border-top: 1px solid #eee;
    list-style: none;
}

.vcard-detail{
   width: 100%;
   padding: 2px 0 2px 24px;
   font-size: 14px;
}

.vcard-detail>.glyphicon {
    float: left;
    width: 16px;
    text-align: center;
    margin-left: -24px;
    color: #ccc;
    padding-top: 1px
}

.vcard-stats {
    padding-top:15px;
    padding-bottom: 15px;
    border-top:1px solid #eee;
    text-align: center;
}

.vcard-stat {
    float: left;
    width: 33.333%;
    font-size: 11px;
    text-transform: capitalize;
}

.vcard-stats:hover {
    text-decoration: none;
}

.vcard-stat-count {
    display:block;
    line-height:1;
    font-weight: bold;
    font-size: 28px;
}

.text-muted {
    color: #767676;
}

.clearfix {
    padding: 13px 0;
}

.two-thirds {
    width: 66.66666%;
}

.column {
    padding-left:15px;
}

dl.form {
    margin:15px 0;
}
dl.form>dt {
    margin: 0 0 6px;
}

.avatar-picture {
    height: auto;
    border-radius: 3px;
}

.avatar-upload {
    width: 80%;
    float: right;
}

.avatar-upload-default {
    padding: 10px 0;
    font-size: 12px;
    color: #767676;
}

/*
 * Follow
 */

.page_head{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee
}

.page_head>h4{
    margin-top: 0px;
    margin-bottom: 0px
}

.page_head .avatar-picture{
    margin-right: 5px;
}

.nav-tabs>li>a>.badge{
    margin-left: 5px;
}

.users{
    margin-top: 20px;
}

.follow-list-item img{
    float: left;
}

.follow-list{
}

.follow-list-item{
    width: 25%;
    float: left;
    margin-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.follow-list-container{
    margin-left: 100px;
}

/*
 * Problem 
 */
#problem_search{
}

#problem_head{
    border-bottom: 1px solid #eee;
    padding-bottom: 5px
}

#problem_head h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 34px;
}

#problem_body{
    margin-top: 20px;
    margin-bottom: 20px
}

#problem_title{
    display: inline-block;
}

#problem_info{
    display: inline-block;
}

#problem_info span{
    margin-left: 20px;
    font-size: 12px;
    color: #31708f
}

#problem_info p{
    margin: 0px;
}

#problem_description{
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px solid #ddd;
    font-size: 18px;
}

#problem_input{
    border: 1px;
    border-style: dashed;
    padding: 20px;
} 
#problem_output{
    border: 1px;
    border-style: dashed;
    padding: 20px;
    padding-bottom: 10px;
}

/*
 * Contest
 */

#contest_problem{
    border-top: 3px solid #6cf;
}

.col-md-6 table input{
    margin-top: -5px;
    margin-bottom: -5px
}

.col-md-6 table select{
    border: 0px;
    background-color: #fff;
}

.col-md-6 table .btn{
    border: 0px;
    margin-bottom: -6px;
}

#contest_info{
    width: 75%;
    margin: 0 auto
}

.contest_title{
    padding-top:20px;
    padding-bottom:20px
}

.contest_time{
    display: inline-block;
    border-left: 1px;
    text-align: left;
    padding-left: 20px;
    border-left-style: dashed
}

.contest_info{
    display: inline-block;
    padding-right: 20px
}

.content_detail {
    width: 50%;
    text-align: right;
    padding: 0 10px 0 0;
}

/*
 * Solution
 */

table td.code{
    width:100%
}

/*
 * Footer
 */

.footer {
     padding: 40px 0;
     color: #999;
     text-align: center;
     background-color: #f9f9f9;
     border-top: 1px solid #e5e5e5;
     margin-top: 40px;
}
