{% extends "contest/contest_list.html" %}

{% block title %}Running | Virtual Judge{% endblock %}

{% block page_nav %}
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/contest">All</a></li>
  <li role="presentation"><a href="/contest/pending">Pending</a></li>
  <li role="presentation" class="active"><a href="#">Running</a></li>
  <li role="presentation"><a href="/contest/ended">Ended</a></li>
  <a href="{{ url_for('contest.create') }}" class="btn btn-default right"><i class="fa fa-pencil"> Create Contest</i></a>
</ul>
{% endblock %}
