{% extends "base.html" %}
{% from "_macro/_formhelpers.html" import field_error %}
{% from "_macro/_formhelpers.html" import render_field %}

{% block title %}Create Contest | Virtual Judge{% endblock %}


{% block link %}
{{ super() }}
<link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}" rel="stylesheet">
{% endblock %}


{% block page_content %}
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Add Contest</a></li>
</ul>
<div class="col-md-12 content">
  <form class="form-horizontal" method="post">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
      <div class="warning">You have submitted an invalid CSRF token</div>
    {% endif %}
    <div class="col-md-6">
      <div class="form-group">
        {{ form.title.label(class="col-sm-3 control-label") }}
        <div class="col-sm-9">
          {{ form.title(class="form-control", required="required") }}
        </div>
          {{ field_error(form.title) }}
      </div>
      <div class="form-group">
        {{ form.contest_type.label(class="col-sm-3 control-label") }}
        <div class="col-sm-9">
          {{ form.contest_type(class="form-control") }}
        </div>
          {{ field_error(form.contest_type) }}
      </div>
      <div class="form-group">
        {{ form.password.label(class="col-sm-3 control-label") }}
        <div class="col-sm-9">
          {{ form.password(class="form-control") }}
        </div>
          {{ field_error(form.password) }}
      </div>
      <div class="form-group">
        {{ form.start_at.label(class="col-sm-3 control-label") }}
        <div class="col-sm-9">
          {{ form.start_at(class="form-control form_datetime", required="required") }}
        </div>
          {{ field_error(form.start_at) }}
      </div>
      <div class="form-group">
        {{ form.end_at.label(class="col-sm-3 control-label") }}
        <div class="col-sm-9">
          {{ form.end_at(class="form-control form_datetime", required="required") }}
        </div>
          {{ field_error(form.end_at) }}
      </div>
      <div class="form-group">
        {{ form.description.label(class="col-sm-3 control-label") }}
        <div class="col-sm-9">
          {{ form.description(class="form-control") }}
        </div>
          {{ field_error(form.description) }}
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="btn-group">
            <button type="submit" class="btn btn-default">Add Contest</button>
            <button type="reset" class="btn btn-default">Reset</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 fields_wrap">

      <div class="form-group">
        <div class="btn-group" style="width:100%">
          {{ form.remove(class="btn btn-default", style="width:19%") }}
          {{ form.add(class="btn btn-default") }}
        </div>
      </div>
          
      {% for entrie in form.problems.entries %}
      {{ entrie.csrf_token }}
      <div class="form-group problem_field">
          <div class="input-group input_field left" style="width:50%">
            <div class="input-group-addon" style="width:32%">{{ entrie.origin_oj(class="select_inline") }}</div>
            {{ entrie.problem_id(class="form-control problem") }}
            <div class="input-group-addon" style="width:32%">
                {{ entrie.delete(class="button_inline", type="submit") }}
            </div>
          </div>
          <div class="right" style="width:45%">
            <div>
              {% if entrie.title.data %}
                {{ entrie.title.data }}
              {% endif %}
            </div>
            {{ entrie.title(hidden="hidden") }}
          </div>
      </div>
      {% endfor %}

    </div>
  </form>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script>
$(".form_datetime").datetimepicker({
  format: 'yyyy-mm-dd hh:ii:ss',
  autoclose: true,
  minView: 'hour',
  forceParse: true
});
</script>
<script>
$(document).ready(function(){
  $('.problem').keyup(function(){
    var origin_oj = $(this).prev().children().val();
    var problem_id = $(this).val();
    var $this = $(this);

    if(problem_id.length == 4){
      $.getJSON(
        '/problem/get',
        {
          origin_oj: origin_oj, 
          problem_id: problem_id
        },
        function(data){
          if(data.status == 'error'){
          }
          else {
            $this.parent().next().find('div').html(data.problem.title);
            $this.parent().next().find('input').val(data.problem.title);
          }
        }
      );
    } else {
      $this.parent().next().find('div').html('');
      $this.parent().next().find('input').val('');
    }
  });
  $('#remove').click(function(){
    var field = $('.problem_field').length;
    if(field > 0){
      return true;
    } else {
      alert('Problem field cannot be less than 0.');
      return false;
    }
  });
  $('#add').click(function(){
    var field = $('.problem_field').length;
    if(field < 26){
      return true;
    } else {
      alert('Problem field cannot be longer than 26.');
      return false;
    }
  });
  $('#start_at').keyup(function(){
    var start_time = new Date($(this).val());
    start_time.setHours(start_time.getHours() + 5);
    var year = start_time.getFullYear();
    var month = start_time.getMonth() + 1;
    var d = start_time.getDate();
    var hours = start_time.getHours();
    var min = start_time.getMinutes();
    var sec = start_time.getSeconds();
    $('#end_at').val(
      year + '-' +
      (month >= 10 ? month : '0' + month) + '-' +
      (d > 10 ? d : '0' + d) + ' ' +
      (hours >= 10 ? hours : '0' + hours) + ':' +
      (min > 10 ? min : '0' + min) + ':' +
      (sec > 10 ? sec : '0' + sec)
    );
  });
})
</script>
{% endblock %}
